* {box-sizing: border-box;}

	.wrapper {
		max-width: 65%;
		margin: 0 auto;
	}

	.wrapper > * {
		background-color: #374656;
		border-radius: 3px;
		padding: 14px;
	}

	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
    }

a{
	color: pink
}
a:hover {
	color: hotpink; font-style: italic;
}
body{
	background-color: #445566; font-family: 'Roboto'; color: white; margin-top: 120px;
}

.srch{width: 100%; border: none; color: pink; background: #445566; font-size: 34px;}

.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}
.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-areas: 
    "header"
    "nav"
    "content"
    "sidebar1"
    "side2"
    "footer";
}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
	"header  header"
	"nav     nav"
	"sidebar1 content"
	"side2      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
	  "header header  header"
	  "nav    content sidebar1"
	  "nav    content side2"
	  "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}

.checking,.unchecked {
    color:#FF8C00;
}